.login-register-content img {
  min-height: 100vh;
  display: block;
  position: relative;
  max-width: 10vw;
}

.login-form {
  position: absolute;
  left: 12%;
  top: 20%;
}

.login-form p {
  font-size: smaller;
}

.login-form h5 {
  font-size: large;
}

.login-form button {
  font-weight: bold;
}

.btn-social {
  display: flex;
  padding: 12px 40px;
  margin: 10px;
  background-color: #ffffff;
  border: 1px solid #0079d3;
  color: #0079d3;
  text-transform: capitalize;
  border-radius: 5px;
}

.btn-social:hover {
  background-color: #0079d3;
  color: #ffffff;
}

.form-check-label {
  font-size: smaller;
}

/* form width */
@media (min-width: 440px) {
  .login-form {
    width: 34vh;
  }
}

#login-background {
  background-color: #ffffff;
}

#register-background {
  background-color: #ffffff;
}
