.post-card-top {
  display: flex;
  margin-left: 10%;
  margin-top: 1.2%;
}

.post-card-sub {
  font-size: 13px;
  font-weight: bold;
}

.post-card-container {
  margin-left: -1%;
}

.post-card-name-date {
  font-size: small;
  font-weight: 300;
  margin-left: 1%;
}

.post-card-title {
  margin-top: -1%;
  margin-left: 1%;
  font-size: 1.2rem;
  font-weight: 700;
  display: flex;
}

.post-card-body {
  margin-top: -3%;
  font-size: 0.9rem;
  margin-left: -2.2%;
  display: flex;
}

.upvote-counter-container {
  top: -30px;
  left: 15px;
  position: relative;
}

.upvote-counter-container i {
  color: #878a8c;
  font-weight: bold;
  cursor: pointer;
}

.upvote-counter-container i:hover {
  color: #ff4500;
}

.upvote-counter-container i:active {
  color: #ff4500;
}

.upvote-counter {
  font-size: 13.5px;
  font-weight: 700;
  position: relative;
  left: 4.5px;
}

.card-bottom-container {
  display: flex;
  flex: 1;
  justify-items: flex-start;
  margin-bottom: 4px;
}

.post-card-settings {
  color: #878a8c;
  cursor: pointer;
  margin-left: 10px;
  font-size: 17px;
  overflow: hidden;
}

.card-bottom-container-opt {
  font-size: small;
  padding: 4px;
  font-weight: 500;
  margin-inline: 3px;
  cursor: pointer;
  border-radius: 4px;
}

.card-bottom-container-opt:hover {
  font-size: small;
  padding: 4px;
  background-color: rgb(235, 231, 231);
  font-weight: 500;
  margin-inline: 3px;
  cursor: pointer;
}

/* Comment btn */
.comment-btn {
  float: right;
  background-color: rgb(28, 187, 28);
  color: #ffffff;
  font-weight: 400;
  border: none;
  border-radius: 3px;
  font-size: 13px;
  padding: 3px 14px;
  margin-top: 10px;
}

/* Media */

@media (max-width: 768px) {
  .upvote-counter-container {
    display: none;
  }

  .post-card-title {
    margin-left: 8%;
  }

  .post-card-body {
    margin-left: 5%;
  }
}

@media (max-width: 500px) {
  .post-card-sub img {
    display: none;
  }

  .post-card-name-date .posted-by {
    display: none;
  }
}
