img {
  height: 27px;
  margin-right: 5px;
}

.nav-sub-dropdown {
  position: relative;
  left: 3vh;
}

.nav-search {
  max-width: 330%;
  display: none;
}

.header__middle {
  display: flex;
  flex: 1;
  justify-content: center;
  margin-right: 4vh;
}

.header__option {
  display: flex;
  padding: 6px 12px;
  cursor: pointer;
  color: #1a1a1b;
}

.header__option:hover {
  background-color: #cccccc;
  border-radius: 5px;
  padding: 6px 12px;
  border-bottom: none;
  color: #1a1a1b;
}

/* SUBMIT  */
.submit-header {
  display: flex;
  flex: 1;
  justify-content: center;
  margin-bottom: 4px;
}

.submit-option button {
  display: flex;
  justify-content: space-around;
  padding: 6px 15px;
  cursor: pointer;
  color: #8a94a5;
  font-weight: 600;
  background-color: #ffffff;
  border: 1px solid #edeff1;
}

.submit-option button:hover {
  background-color: #e9f5f8;
  border-bottom: 2px solid #0079d3;
  cursor: pointer;
}

.submit-container {
  position: relative;
  top: 5vh;
}

@media (max-width: 2024px) {
}
